/**
 * Import global scss files
 */
/**
 * Colors
 */
/**
 * Different shades of gray
 *
 */
/**
 * Fonts
 *
 */
@font-face {
  font-family: QuicksandLight;
  src: url("../fonts/Quicksand-Light.otf") format("opentype");
}
@font-face {
  font-family: Quicksand;
  src: url("../fonts/Quicksand-Regular.otf") format("opentype");
}
@font-face {
  font-family: Raleway;
  src: url("../fonts/Raleway-Regular.ttf") format("truetype");
}
/**
 * Bounce In Keyframes mixin
 *
 */
/**
 * Launch keyframes
 *
 */
@-webkit-keyframes launch {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0) scale(1);
            transform: translateX(0) scale(1);
  }
  10%, 15% {
    -webkit-transform: translateX(0) scale(0.5);
            transform: translateX(0) scale(0.5);
  }
  30%, 35% {
    -webkit-transform: translateX(-50px) scale(0.5);
            transform: translateX(-50px) scale(0.5);
  }
  40%, 70% {
    -webkit-transform: translateX(100vw) scale(0.5);
            transform: translateX(100vw) scale(0.5);
  }
  70% {
    opacity: 1;
  }
  71% {
    opacity: 0;
    -webkit-transform: translateX(100vw) scale(0.5);
            transform: translateX(100vw) scale(0.5);
  }
  72% {
    opacity: 0;
    -webkit-transform: translateX(0px) scale(0.5);
            transform: translateX(0px) scale(0.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px) scale(1);
            transform: translateX(0px) scale(1);
  }
}
@keyframes launch {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0) scale(1);
            transform: translateX(0) scale(1);
  }
  10%, 15% {
    -webkit-transform: translateX(0) scale(0.5);
            transform: translateX(0) scale(0.5);
  }
  30%, 35% {
    -webkit-transform: translateX(-50px) scale(0.5);
            transform: translateX(-50px) scale(0.5);
  }
  40%, 70% {
    -webkit-transform: translateX(100vw) scale(0.5);
            transform: translateX(100vw) scale(0.5);
  }
  70% {
    opacity: 1;
  }
  71% {
    opacity: 0;
    -webkit-transform: translateX(100vw) scale(0.5);
            transform: translateX(100vw) scale(0.5);
  }
  72% {
    opacity: 0;
    -webkit-transform: translateX(0px) scale(0.5);
            transform: translateX(0px) scale(0.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px) scale(1);
            transform: translateX(0px) scale(1);
  }
}
/**
 * Blink keyframes
 *
 */
@-webkit-keyframes blink-animation {
  0%, 100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
@keyframes blink-animation {
  0%, 100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
/**
 * Buzz keyframes for buttons
 *
 */
@-webkit-keyframes buzz {
  10% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  20% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  30% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  40% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  50% {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
  }
  60% {
    -webkit-transform: scale(0.97);
            transform: scale(0.97);
  }
  70% {
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
  }
  80% {
    -webkit-transform: scale(0.99);
            transform: scale(0.99);
  }
  90% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes buzz {
  10% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  20% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  30% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  40% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  50% {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
  }
  60% {
    -webkit-transform: scale(0.97);
            transform: scale(0.97);
  }
  70% {
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
  }
  80% {
    -webkit-transform: scale(0.99);
            transform: scale(0.99);
  }
  90% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/**
 * Fonts
 *
 */
html {
  overflow-x: hidden;
}

body {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  color: #403F4C;
  font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

.no-scrolling {
  overflow: hidden;
}

p {
  font-size: 20px;
}
p .small {
  font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
  color: #0091EA;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "QuicksandLight", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

/**
 * Horizontal Rule
 *
 */
hr.user-light, hr.user-primary,
hr.portfolio-light, hr.portfolio-primary,
hr.features-light, hr.features-primary,
hr.offers-light, hr.offers-primary,
hr.contact-light, hr.contact-primary {
  padding: 0;
  border: none;
  border-top: solid 3px;
  text-align: center;
  max-width: 66%;
  margin: 25px auto 30px;
}

hr.user-light:after,
hr.user-primary:after {
  content: "\f007";
  font-family: 'FontAwesome';
  display: inline-block;
  position: relative;
  top: -0.8em;
  font-size: 2em;
  padding: 0 0.25em;
}

hr.portfolio-light:after,
hr.portfolio-primary:after {
  content: "\f07c";
  font-family: 'FontAwesome';
  display: inline-block;
  position: relative;
  top: -0.8em;
  font-size: 2em;
  padding: 0 0.25em;
}

hr.features-light:after,
hr.features-primary:after {
  content: "\f005";
  font-family: 'FontAwesome';
  display: inline-block;
  position: relative;
  top: -0.8em;
  font-size: 2em;
  padding: 0 0.25em;
}

hr.offers-light:after,
hr.offers-primary:after {
  content: "\f02b";
  font-family: 'FontAwesome';
  display: inline-block;
  position: relative;
  top: -0.8em;
  font-size: 2em;
  padding: 0 0.25em;
}

hr.contact-light:after,
hr.contact-primary:after {
  content: "\f0e0";
  font-family: 'FontAwesome';
  display: inline-block;
  position: relative;
  top: -0.8em;
  font-size: 2em;
  padding: 0 0.25em;
}

hr.user-light {
  border-color: white;
}

hr.user-light:after {
  background-color: #0091EA;
  color: white;
}

hr.user-primary {
  border-color: #403F4C;
}

hr.user-primary:after {
  background-color: white;
  color: #403F4C;
}

hr.portfolio-light {
  border-color: white;
}

hr.portfolio-light:after {
  background-color: #0091EA;
  color: white;
}

hr.portfolio-primary {
  border-color: #403F4C;
}

hr.portfolio-primary:after {
  background-color: white;
  color: #403F4C;
}

hr.features-light {
  border-color: white;
}

hr.features-light:after {
  background-color: #0091EA;
  color: white;
}

hr.features-primary {
  border-color: #403F4C;
}

hr.features-primary:after {
  background-color: white;
  color: #403F4C;
}

hr.offers-light {
  border-color: white;
}

hr.offers-light:after {
  background-color: #0091EA;
  color: white;
}

hr.offers-primary {
  border-color: #403F4C;
}

hr.offers-primary:after {
  background-color: white;
  color: #403F4C;
}

hr.contact-light {
  border-color: white;
}

hr.contact-light:after {
  background-color: #0091EA;
  color: white;
}

hr.contact-primary {
  border-color: #403F4C;
}

hr.contact-primary:after {
  background-color: white;
  color: #403F4C;
}

hr.space {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  border: none !important;
}

hr.big-space {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
  border: none !important;
}

/**
 * Email
 *
 */
.contactEmail:after {
  content: "contact\40thilmany.lu";
}

.dataEmail:after {
  content: "data\40thilmany.lu";
}

/**
 * Sections
 *
 */
section {
  padding: 100px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-x: hidden;
}
section h2 {
  margin: 0;
  font-size: 3em;
}
section.primary {
  background: #0091EA;
  color: white;
}

@media (orientation: landscape) {
  section {
    min-height: 100vh;
  }
}
@media (max-width: 767px) {
  section {
    padding: 75px 0;
  }
  section.first {
    padding-top: 75px;
  }
}
.margin-top {
  margin-top: 20px;
}

.no-opacity {
  opacity: 0;
}

.flyInLeft {
  -webkit-animation: bounce-left .6s forwards;
          animation: bounce-left .6s forwards;
}
@-webkit-keyframes bounce-left {
  0% {
    opacity: .2;
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
  60% {
    opacity: .7;
    -webkit-transform: translateX(-15px);
            transform: translateX(-15px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes bounce-left {
  0% {
    opacity: .2;
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
  60% {
    opacity: .7;
    -webkit-transform: translateX(-15px);
            transform: translateX(-15px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.flyInRight {
  -webkit-animation: bounce-right .6s forwards;
          animation: bounce-right .6s forwards;
}
@-webkit-keyframes bounce-right {
  0% {
    opacity: .2;
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
  }
  60% {
    opacity: .7;
    -webkit-transform: translateX(15px);
            transform: translateX(15px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes bounce-right {
  0% {
    opacity: .2;
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
  }
  60% {
    opacity: .7;
    -webkit-transform: translateX(15px);
            transform: translateX(15px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
/**
 * Buttons
 *
 */
.btn-outline {
  color: white;
  font-size: 20px;
  border: solid 2px white;
  background: transparent;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
  margin-top: 15px;
}
.btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {
  color: #0091EA;
  background: white;
  border: solid 2px white;
  -webkit-animation-name: buzz;
          animation-name: buzz;
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.btn-primary {
  color: white;
  background-color: #403F4C;
  border-color: #403F4C;
  font-weight: 700;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
  color: white;
  background-color: #292830;
  border-color: #292830;
}
.btn-primary:active, .btn-primary.active {
  background-image: none;
}
.btn-primary.disabled, .btn-primary[disabled], .btn-primary.disabled:hover, .btn-primary[disabled]:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, .btn-primary.disabled.active, .btn-primary[disabled].active {
  background-color: #403F4C;
  border-color: #403F4C;
}
.btn-primary .badge {
  color: #403F4C;
  background-color: white;
}

fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary.active {
  background-color: #403F4C;
  border-color: #403F4C;
}

.open .dropdown-toggle.btn-primary {
  color: white;
  background-color: #292830;
  border-color: #292830;
  background-image: none;
}

.btn-round {
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 2px solid white;
  border-radius: 50%;
  text-align: center;
  font-size: 20px;
  line-height: 45px;
}

.btn:focus, .btn:active, .btn.active {
  outline: none;
}

.scroll-top {
  width: 50px;
  height: 50px;
  z-index: 1000;
}
.scroll-top .btn {
  font-size: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  line-height: 28px;
  box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.4);
}
.scroll-top .btn:focus {
  outline: none;
}
.scroll-top.affix {
  right: 10px;
  bottom: 10px;
  opacity: .5;
  visibility: visible;
  -webkit-transition: opacity 1s ease-in-out;
          transition: opacity 1s ease-in-out;
}
.scroll-top.affix-top {
  right: 10px;
  bottom: 10px;
  position: fixed;
  z-index: 2000;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 1s ease-in-out;
          transition: opacity 1s ease-in-out;
}
.scroll-top.affix-bottom {
  right: 10px;
  position: absolute;
  -webkit-transition: opacity 1s ease-in-out;
          transition: opacity 1s ease-in-out;
}

/**
 * Modal
 *
 */
.site-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  box-shadow: none;
  border: none;
  min-height: 100%;
  padding: 100px 0;
  text-align: center;
}
.site-modal .modal-content h2 {
  margin: 0;
  font-size: 3em;
}
.site-modal .modal-content img {
  margin-bottom: 30px;
}
.site-modal .modal-content item-details {
  margin: 30px 0;
}
.site-modal .modal-content .modal-body .list-inline {
  margin-top: 40px;
}
.site-modal .close-modal {
  position: fixed;
  width: 75px;
  height: 75px;
  background-color: transparent;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
.site-modal .close-modal:hover {
  opacity: 0.3;
}
.site-modal .close-modal .lr {
  height: 75px;
  width: 1px;
  margin-left: 35px;
  background-color: #403F4C;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: 2000;
}
.site-modal .close-modal .lr .rl {
  height: 75px;
  width: 1px;
  background-color: #403F4C;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  z-index: 2000;
}
.site-modal .modal-backdrop {
  opacity: 0;
  display: none;
}

/**
 * Noscript
 *
 */
noscript {
  color: #cc3300;
}
noscript span.contactEmail {
  color: #cc3300;
}

#noscript-msg {
  display: block;
  position: fixed;
  z-index: 2000;
  width: 100%;
  top: 100px;
  color: white;
  padding: 20px 0;
  background: #cc3300;
}
#noscript-msg a {
  color: white;
  text-decoration: underline;
}
#noscript-msg a:hover {
  color: white;
  text-decoration: none;
}

/**
 * Import scss files of the different sections
 */
/**
 * Styles of the Header section
 *
 */
.navbar-custom {
  background: #403F4C;
  font-family: "Quicksand", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  border: none;
}
.navbar-custom a:focus {
  outline: none;
}
.navbar-custom .navbar-brand {
  color: white;
}
.navbar-custom .navbar-brand:hover, .navbar-custom .navbar-brand:focus, .navbar-custom .navbar-brand:active, .navbar-custom .navbar-brand.active {
  color: white;
}
.navbar-custom .navbar-nav {
  letter-spacing: 1px;
}
.navbar-custom .navbar-nav li a {
  color: white;
}
.navbar-custom .navbar-nav li a:hover {
  color: #0091EA;
  outline: none;
}
.navbar-custom .navbar-nav li a:focus, .navbar-custom .navbar-nav li a:active {
  color: white;
}
.navbar-custom .navbar-nav li.active a {
  color: white;
  background: #0091EA;
}
.navbar-custom .navbar-nav li.active a:hover, .navbar-custom .navbar-nav li.active a:focus, .navbar-custom .navbar-nav li.active a:active {
  color: white;
  background: #0091EA;
}
.navbar-custom .navbar-toggle {
  color: white;
  text-transform: uppercase;
  font-size: 10px;
  border-color: white;
}
.navbar-custom .navbar-toggle:hover, .navbar-custom .navbar-toggle:focus {
  background-color: transparent;
  color: white;
  border-color: white;
}

.navbar {
  margin-bottom: 0px;
}

.overlay:after {
  content: '';
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
}

@media (min-width: 768px) {
  .navbar-custom {
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    transition: padding 0.3s;
  }
  .navbar-custom .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-custom.affix {
    padding: 10px 0;
  }
  .navbar-custom.affix .navbar-brand {
    font-size: 1.5em;
  }
  .navbar-custom .navbar-nav {
    margin-top: 5px;
  }

  .nav > li > a {
    padding: 10px 10px;
  }
}
.hamburger-menu {
  width: 40px;
  height: 34px;
  cursor: pointer;
}

.bar,
.bar:after,
.bar:before {
  width: 20px;
  height: 1px;
}

.bar {
  -webkit-transform: translateY(7px);
      -ms-transform: translateY(7px);
          transform: translateY(7px);
  background: white;
  -webkit-transition: all 0ms 300ms;
          transition: all 0ms 300ms;
  position: absolute;
  left: 9px;
}
.bar.animate {
  background: rgba(255, 255, 255, 0);
}

.bar:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 7px;
  background: white;
  -webkit-transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
          transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar:after {
  content: "";
  position: absolute;
  left: 0;
  top: 7px;
  background: white;
  -webkit-transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
          transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar.animate:after {
  top: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
          transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar.animate:before {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
          transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

/**
 * Header
 */
#landing {
  text-align: center;
  background-image: url("../img/header.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  position: relative;
  height: 100vh;
}
#landing:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
#landing .container {
  padding-top: 100px;
  padding-bottom: 20px;
}
#landing img {
  display: block;
  margin: 0 auto 20px;
}
#landing .line {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 66%;
  margin: auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#landing hr {
  border: 0;
  border-top: solid 3px white;
  margin: 25px auto 30px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  z-index: 1;
}
#landing .icon:after {
  content: "\f108";
  font-family: 'FontAwesome';
  display: inline-block;
  position: relative;
  font-size: 2em;
  padding: 0 0.25em;
}
#landing .intro-text h1.name {
  display: block;
  font-family: "QuicksandLight", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3em;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
#landing .intro-text .skills {
  display: block;
  font-size: 1.25em;
  font-weight: 300;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
#landing .page-scroll {
  -webkit-animation: blink-animation 2s infinite;
          animation: blink-animation 2s infinite;
}
#landing .page-scroll a {
  position: relative;
}
#landing .page-scroll a i {
  position: absolute;
  top: 5px;
  left: -2px;
}

@media (min-width: 768px) {
  #landing .intro-text h1.name {
    font-size: 4.75em;
  }
  #landing .intro-text .skills {
    font-size: 1.75em;
  }
}
/**
 * Styles of the About section
 *
 */
.circle {
  opacity: 1;
  display: inline-block;
  position: relative;
  margin: 10px 10px;
  height: 135px;
  width: 130px;
}
.circle.skillText {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  text-align: center;
  line-height: 40px;
  font-size: 30px;
}
.circle p {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 130px;
  width: 130px;
  padding: 12px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: -5px;
}

/**
 * Styles for the Portfolio section
 */
.img-centered {
  margin: 0 auto;
}

figure {
  margin: 0;
}

.portfolio-grid .portfolio-item {
  -webkit-perspective: 2000px;
          perspective: 2000px;
  -webkit-perspective-origin: 0 50%;
          perspective-origin: 0 50%;
  position: relative;
  padding: 0 15px 15px;
}
.portfolio-grid .portfolio-item div {
  overflow: hidden;
}
.portfolio-grid .portfolio-item figcaption {
  background: #403F4C;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
}

.portfolio-grid figure {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.portfolio-grid figure img {
  -webkit-transition: -webkit-transform 0.5s;
          transition: transform 0.5s;
}
.portfolio-grid figure.active img {
  -webkit-transform: translateX(30%);
      -ms-transform: translateX(30%);
          transform: translateX(30%);
}
.portfolio-grid figure.active figcaption {
  opacity: 1;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transition: -webkit-transform 0.5s, opacity 0.2s;
          transition: transform 0.5s, opacity 0.2s;
}
.portfolio-grid figcaption {
  width: 50%;
  opacity: 0;
  margin: 0;
  border: none;
  padding: 15px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: rotateY(-90deg);
          transform: rotateY(-90deg);
  -webkit-transition: -webkit-transform 0.5s, opacity 0.2s 0.4s;
          transition: transform 0.5s, opacity 0.2s 0.4s;
  box-shadow: 5px 0px 10px -5px rgba(0, 0, 0, 0.4);
}
.portfolio-grid figcaption .item-header {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2em;
  margin-bottom: 10px;
}
.portfolio-grid figcaption a {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.portfolio-section {
  padding: 150px 0 100px 0;
}

.portfolio {
  margin-bottom: 20px;
  max-width: 80%;
}

/**
 * Styles of the features section
 *
 */
.features-list > ul {
  margin: 0px 0px 10px 0px;
  padding: 0;
}
.features-list > ul > li {
  list-style: none;
  position: relative;
  padding-left: 25px;
}
.features-list > ul > li:before {
  content: "\f00c";
  font-family: 'FontAwesome';
  display: inline-block;
  position: absolute;
  left: -1em;
  height: 20px;
  width: 20px;
  top: 0.25em;
  margin-left: 15px;
}
.features-list > ul > li span {
  font-size: 15px;
}
.features-list > ul > li span:before {
  content: ' ';
  font-size: 20px;
}

/**
 * Styles of the Offers section
 *
 */
.primary .panel p, .primary .panel h4, .primary .panel li {
  color: #403F4C;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.price {
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
}

.price-cents {
  vertical-align: super;
  font-size: 50%;
}

.price-per-x {
  font-size: 35%;
  font-style: italic;
}

.panel {
  -webkit-transition: all 300ms ease-in-out;
          transition: all 300ms ease-in-out;
  border-radius: 0;
  border: none;
}

.panel.hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  -webkit-transform: scale(1.01);
      -ms-transform: scale(1.01);
          transform: scale(1.01);
}

.panel-default .panel-heading {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 0px;
}

.nav-tabs.nav-justified {
  border-bottom: 1px solid #ddd;
}
.nav-tabs.nav-justified > li > a {
  border-radius: 0;
  border: none;
  background-color: white;
  color: #403F4C;
}
.nav-tabs.nav-justified > li.active > a {
  background-color: #e6e6e6;
  border: none;
}
.nav-tabs.nav-justified > li.active > a:focus {
  border: none;
}
.nav-tabs.nav-justified > li.active > a:hover {
  border: none;
}
.nav-tabs.nav-justified > li:not(:first-child) {
  border-left: 1px solid #ddd;
}
.nav-tabs.nav-justified.active a {
  border: none;
}
.nav-tabs.nav-justified.active a:focus {
  border: none;
}
.nav-tabs.nav-justified.active a:hover {
  border: none;
}

.tab-content {
  background-color: white;
  color: #403F4C;
  min-height: 200px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.tab-content .tab-pane {
  margin: 20px;
}

/**
 * Styles of the Contact section
 *
 */
.form-wrapper {
  background: white;
  padding: 15px;
  box-shadow: 0px 10px 45px -5px rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 300ms ease-in-out;
          transition: opacity 300ms ease-in-out;
}
.form-wrapper:after {
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  content: ".";
  font-size: 0;
}
.form-wrapper.is-sent {
  -webkit-animation: launch 2s ease-in-out;
          animation: launch 2s ease-in-out;
}

.send-btn {
  background: #0091EA;
  border: none;
  padding: 10px 20px;
  font-size: 1.3em;
  color: white;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  box-shadow: inset 0px 0px 15px -5px rgba(0, 0, 0, 0.2), 0px 0px 15px -16px transparent;
  -webkit-transition: all 200ms ease-in-out;
          transition: all 200ms ease-in-out;
}
.send-btn:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  box-shadow: inset 0px 0px 15px -5px rgba(0, 0, 0, 0.2), 0px 20px 15px -16px rgba(0, 0, 0, 0.4);
}
.send-btn:disabled {
  background: #777777;
}
.send-btn:disabled:hover {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}

.floating-label-form-group {
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #eeeeee;
}
.floating-label-form-group input, .floating-label-form-group textarea {
  z-index: 1;
  position: relative;
  padding-right: 0;
  padding-left: 0;
  border: none;
  border-radius: 0;
  font-size: 1.5em;
  background: none;
  box-shadow: none !important;
  resize: none;
}
.floating-label-form-group label {
  display: block;
  z-index: 0;
  position: relative;
  top: 2em;
  margin: 0;
  font-size: 0.85em;
  line-height: 1.764705882em;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
  -webkit-transition: top 0.3s ease,opacity 0.3s ease;
          transition: top 0.3s ease,opacity 0.3s ease;
}
.floating-label-form-group :not(:first-child) {
  padding-left: 14px;
}

.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}

.floating-label-form-group-with-focus label {
  color: #0091EA;
}

.help-block {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #F44336;
  font-size: 14px;
  padding: 0px;
}
.help-block ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid #F44336;
}
.help-block ul li {
  padding-right: 30px;
}

#success, #error, #warning {
  padding: 20px 25px;
  box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}
#success p, #error p, #warning p {
  margin: 0px;
}

#success {
  border-left: 4px solid #008000;
  color: #008000;
}

#error {
  border-left: 4px solid #F44336;
  color: #F44336;
}

#warning {
  border-left: 4px solid #ffa500;
  color: #ffa500;
}

@media (max-width: 768px) {
  #contact > .container {
    width: 100%;
  }
}
/**
 * Styles of the Footer section
 *
 */
footer {
  color: white;
}
footer h3 {
  margin-bottom: 30px;
  font-family: "Quicksand", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}
footer .footer-above {
  padding-top: 50px;
  background-color: #403F4C;
}
footer .footer-col {
  margin-bottom: 50px;
}
footer .footer-below {
  padding: 25px 0;
  background-color: #0091EA;
}
footer .footer-below-content > p:not(:first-child) {
  margin: 0px;
}

/**
 * Styles of the cookie note
 *
 */
.cookie-note {
  position: fixed;
  overflow: hidden;
  bottom: 30px;
  left: 30px;
  color: white;
  background-size: 200% 100%;
  background-image: -webkit-linear-gradient(left, transparent 50%, #403F4C 50%);
  background-image: linear-gradient(to right, transparent 50%, #403F4C 50%);
  box-shadow: 0px 10px 30px -5px transparent;
  font-weight: 400;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-right: 30px;
  opacity: 0;
  -webkit-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: rotate(90deg) scale(0.5) translate(100px, -300px) rotateX(90deg);
          transform: rotate(90deg) scale(0.5) translate(100px, -300px) rotateX(90deg);
  -webkit-transition: -webkit-transform 450ms cubic-bezier(0, 0.6, 0.35, 1.4), opacity 450ms cubic-bezier(0, 0.6, 0.35, 1.4), box-shadow 450ms cubic-bezier(0, 0.6, 0.35, 1.4) 1500ms, background-position 400ms ease-in 1000ms;
          transition: transform 450ms cubic-bezier(0, 0.6, 0.35, 1.4), opacity 450ms cubic-bezier(0, 0.6, 0.35, 1.4), box-shadow 450ms cubic-bezier(0, 0.6, 0.35, 1.4) 1500ms, background-position 400ms ease-in 1000ms;
  z-index: 1000;
}
.cookie-note .icon {
  padding: 20px;
  min-width: 70px;
  background: #0091EA;
  color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.4);
  z-index: 1;
}
.cookie-note .icon img {
  height: 30px;
  min-height: 30px;
  width: 30px;
  min-width: 30px;
  -webkit-transform: scale(0.2) translateY(50px);
      -ms-transform: scale(0.2) translateY(50px);
          transform: scale(0.2) translateY(50px);
  opacity: 0;
  -webkit-transition: all 400ms cubic-bezier(0, 0.6, 0.35, 1.4) 600ms;
          transition: all 400ms cubic-bezier(0, 0.6, 0.35, 1.4) 600ms;
}
.cookie-note .text {
  background: #403F4C;
  padding: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 500ms cubic-bezier(0.42, 0.32, 0.35, 1.4) 1000ms;
          transition: all 500ms cubic-bezier(0.42, 0.32, 0.35, 1.4) 1000ms;
  -webkit-transform-origin: center left;
      -ms-transform-origin: center left;
          transform-origin: center left;
  opacity: 0;
}
.cookie-note .text .close {
  margin-left: 20px;
  float: right;
  font-size: 20px;
  font-weight: normal;
  line-height: 1;
  color: white;
  text-shadow: none;
  opacity: .5;
  filter: alpha(opacity=50);
}
.cookie-note .text .close:hover {
  color: white;
  text-decoration: none;
  cursor: pointer;
  opacity: 1;
  filter: alpha(opacity=0);
}
.cookie-note.is-active {
  opacity: 1;
  -webkit-transform: rotate(0deg) scale(1);
      -ms-transform: rotate(0deg) scale(1);
          transform: rotate(0deg) scale(1);
  background-position: -100% 0;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.4);
}
.cookie-note.is-active img {
  -webkit-transform: scale(1) translateY(0px);
      -ms-transform: scale(1) translateY(0px);
          transform: scale(1) translateY(0px);
  opacity: 1;
}
.cookie-note.is-active .text {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

@media only screen and (max-width: 480px) {
  .cookie-note {
    bottom: 0px;
    left: 0px;
    margin-right: 0px;
  }
}
#piwik {
  border: 1px solid #403F4C;
  padding: 10px;
}
#piwik p:last-of-type {
  margin-bottom: 0;
}
