/**
 * Styles of the cookie note
 *
 */
.cookie-note {
  position: fixed;
  overflow: hidden;
  bottom: 30px;
  left: 30px;
  color: white;
  background-size: 200% 100%;
  background-image: linear-gradient(to right, transparent 50%, $theme-secondary 50%);
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0);
  font-weight: 400;
  display: flex;
  align-items: stretch;
  margin-right: 30px;
  opacity: 0;
  transform-origin: bottom left;
  transform: rotate(90deg) scale(0.5) translate(100px, -300px) rotateX(90deg);
  transition: transform 450ms cubic-bezier(0, 0.6, 0.35, 1.4), opacity 450ms cubic-bezier(0, 0.6, 0.35, 1.4), box-shadow 450ms cubic-bezier(0, 0.6, 0.35, 1.4) 1500ms, background-position 400ms ease-in 1000ms;
  z-index: 1000;

  .icon {
    padding: 20px;
    min-width: 70px;
    background: $theme-primary;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 10px 30px -5px $black-transparent;
    z-index: 1;

    img {
      height: 30px;
      min-height: 30px;
      width: 30px;
      min-width: 30px;
      transform: scale(0.2) translateY(50px);
      opacity: 0;
      transition: all 400ms cubic-bezier(0, 0.6, 0.35, 1.4) 600ms;
    }

  }

  .text {
    background: $theme-secondary;
    padding: 20px;
    display: flex;
    align-items: center;
    transform: translateX(-100%);
    transition: all 500ms cubic-bezier(0.42, 0.32, 0.35, 1.4) 1000ms;
    transform-origin: center left;
    opacity: 0;

    .close {
      margin-left: 20px;
      float: right;
      font-size: 20px;
      font-weight: normal;;
      line-height: 1;
      color: white;
      text-shadow: none;
      opacity: .5;
      filter: alpha(opacity=50);

      &:hover {
        color: white;
        text-decoration: none;
        cursor: pointer;
        opacity: 1;
        filter: alpha(opacity=0);
      }

    }

  }

  &.is-active {
    opacity: 1;
    transform: rotate(0deg) scale(1);
    background-position: -100% 0;
    box-shadow: 0px 10px 30px -5px $black-transparent;

    img {
      transform: scale(1) translateY(0px);
      opacity: 1;
    }

    .text {
      transform: translateX(0);
      opacity: 1;
    }

  }

}
