/**
 * Footer
 */

footer {
  color: white;
  h3 {
    margin-bottom: 30px;
    font-family: $family-headings;
  }
  .footer-above {
    padding-top: 50px;
    background-color: $theme-secondary;
  }
  .footer-col {
    margin-bottom: 50px;
  }
  .footer-below {
    padding: 25px 0;
    background-color: $theme-primary;
  }
  .footer-below-content {
    >p {
      &:not(:first-child) {
        margin: 0px;
      }
    }
  }
}
