/**
 * Styles of the Header section
 *
 */

.navbar-custom {
  background: $theme-secondary;
  font-family: $family-headings;
  text-transform: uppercase;
  font-weight: 400;
  border: none;
	a:focus {
		outline: none;
	}

	.navbar-brand {
	  color: white;
		&:hover, &:focus, &:active, &.active {
			color: white;
		}
	}

  .navbar-nav {
	  letter-spacing: 1px;
		li {
			a {
				color: white;
				&:hover {
					color: $theme-primary;
				  outline: none;
				}
				&:focus, &:active {
					color: white;
				}
			}
			&.active {
				a {
					color: white;
				  background: $theme-primary;
					&:hover, &:focus, &:active {
						color: white;
					  background: $theme-primary;
					}
				}
			}
		}
	}

	.navbar-toggle {
	  color: white;
	  text-transform: uppercase;
	  font-size: 10px;
	  border-color: white;
		&:hover, &:focus {
			background-color: transparent;
			color: white;
			border-color: white;
		}
	}

}

.navbar {
  margin-bottom: 0px;
}

.overlay {
  &:after {
    content: '';
    position: fixed;
    background: $black-transparent;
    height: 100%;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .navbar-custom {
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    transition: padding 0.3s;

		.navbar-brand {
	    font-size: 2em;
	    -webkit-transition: all 0.3s;
	    transition: all 0.3s;
	  }

		&.affix {
	    padding: 10px 0;
			.navbar-brand {
		    font-size: 1.5em;
		  }
	  }

    .navbar-nav {
      margin-top: 5px;
    }

  }

  .nav {
    >li {
      >a {
        padding: 10px 10px;
      }
    }
  }

}

.hamburger-menu {
  width: 40px;
	height: 34px;
	cursor: pointer;
}

.bar,
.bar:after,
.bar:before {
  width: 20px;
	height: 1px;
}

.bar {
	transform: translateY(7px);
	background: rgba(255, 255, 255, 1);
	transition: all 0ms 300ms;
  position: absolute;
  left: 9px;
  &.animate {
    background: rgba(255, 255, 255, 0);
  }
}

.bar:before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 7px;
	background: rgba(255, 255, 255, 1);
	transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar:after {
	content: "";
	position: absolute;
	left: 0;
	top: 7px;
	background: rgba(255, 255, 255, 1);
	transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar.animate:after {
	top: 0;
	transform: rotate(45deg);
	transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
}

.bar.animate:before {
	bottom: 0;
	transform: rotate(-45deg);
	transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
}
