/**
 * Fonts
 *
 */
html {
  overflow-x: hidden;
}

body {
  font-family: $family-paragraph;
  overflow-x: hidden;
  color: $theme-secondary;
  font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

.no-scrolling {
  overflow: hidden;
}

p {
  font-size: 20px;
  .small {
    font-size: 16px;
  }
}

a,
a:hover,
a:focus,
a:active,
a.active {
  color: $theme-primary;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $family-headings-light;
  text-transform: uppercase;
  font-weight: 700;
}




/**
 * Horizontal Rule
 *
 */
hr.user-light,hr.user-primary,
hr.portfolio-light,hr.portfolio-primary,
hr.features-light,hr.features-primary,
hr.offers-light,hr.offers-primary,
hr.contact-light,hr.contact-primary {
    padding: 0;
    border: none;
    border-top: solid 3px;
    text-align: center;
    max-width: 66%;
    margin: 25px auto 30px;
}

@each $name, $icon in (user, f007),
                      (portfolio, f07c),
                      (features, f005),
                      (offers, f02b),
                      (contact, f0e0){
  hr.#{$name}-light:after,
  hr.#{$name}-primary:after {
    content: unquote("\"\\#{$icon}\"");
    font-family: 'FontAwesome';
    display: inline-block;
    position: relative;
    top: -0.8em;
    font-size: 2em;
    padding: 0 0.25em;
  }
}

@each $name in user, portfolio, features, offers, contact{
  hr.#{$name}-light {
    border-color: white;
  }
  hr.#{$name}-light:after {
    background-color: $theme-primary;
    color: white;
  }

  hr.#{$name}-primary {
    border-color: $theme-secondary;
  }
  hr.#{$name}-primary:after {
    background-color: white;
    color: $theme-secondary;
  }
}

hr.space{
	margin-top: 20px !important;
	margin-bottom: 20px !important;
	border: none !important;
}

hr.big-space{
	margin-top: 40px !important;
	margin-bottom: 40px !important;
	border: none !important;
}




/**
 * Email
 *
 */
.contactEmail {
  &:after {
    content: "contact\40thilmany.lu";
  }
}

.dataEmail {
  &:after {
    content: "data\40thilmany.lu";
  }
}




/**
 * Sections
 *
 */
section {
  padding: 100px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
	h2 {
		margin: 0;
	  font-size: 3em;
	}
	&.primary {
		background: $theme-primary;
	  color: white;
	}
}

@media (orientation: landscape) {
  section {
    min-height: 100vh;
  }
}

@media (max-width: 767px) {
  section {
    padding: 75px 0;
		&.first {
			padding-top: 75px;
		}
  }
}

.margin-top {
  margin-top: 20px;
}

.no-opacity {
  opacity: 0;
}

.flyInLeft {
  animation: bounce-left .6s forwards;
  @include bounceIn(bounce-left, 200px, -15px);
}

.flyInRight {
  animation: bounce-right .6s forwards;
  @include bounceIn(bounce-right, -200px, 15px);
}




/**
 * Buttons
 *
 */
.btn-outline {
	color: white;
	font-size: 20px;
	border: solid 2px white;
	background: transparent;
	transition: all 0.3s ease-in-out;
	margin-top: 15px;
	&:hover, &:focus, &:active, &.active {
		color: $theme-primary;
		background: white;
		border: solid 2px white;
    animation-name: buzz;
    animation-duration: 0.75s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
	}
}

.btn-primary {
	color: white;
	background-color: $theme-secondary;
	border-color: $theme-secondary;
	font-weight: 700;
	&:hover, &:focus, &:active, &.active, {
		color: white;
	  background-color: $theme-secondary-dark;
	  border-color: $theme-secondary-dark;
	}
	&:active, &.active {
		background-image: none;
	}
	&.disabled, &[disabled],
	&.disabled:hover, &[disabled]:hover,
	&.disabled:focus, &[disabled]:focus,
	&.disabled:active, &[disabled]:active,
	&.disabled.active, &[disabled].active {
		background-color: $theme-secondary;
	  border-color: $theme-secondary;
	}
	.badge {
	 color: $theme-secondary;
	 background-color: white;
	}
}

fieldset[disabled] {
	.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
		background-color: $theme-secondary;
	  border-color: $theme-secondary;
	}
}

.open {
	.dropdown-toggle{
		&.btn-primary {
			color: white;
		  background-color: $theme-secondary-dark;
		  border-color: $theme-secondary-dark;
			background-image: none;
		}
	}
}

.btn-round {
	display: inline-block;
	height: 50px;
	width: 50px;
	border: 2px solid white;
	border-radius: 50%;
	text-align: center;
	font-size: 20px;
	line-height: 45px;
}

.btn {
	&:focus, &:active, &.active {
		outline: none;
	}
}

.scroll-top {
	width: 50px;
	height: 50px;
	z-index: 1000;

  .btn {
		font-size: 20px;
	  width: 50px;
	  height: 50px;
	  border-radius: 50%;
	  line-height: 28px;
    box-shadow: 0px 10px 15px -5px $black-transparent;
		&:focus {
			outline: none;
		}
	}

  &.affix {
    right: 10px;
    bottom: 10px;
    opacity: .5;
    transition: opacity 1s ease-in-out;
  }

  &.affix-top {
    right: 10px;
    bottom: 10px;
    position: fixed;
    z-index: 2000;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }

  &.affix-bottom {
    right: 10px;
    position: absolute;
    transition: opacity 1s ease-in-out;
  }

}




/**
 * Modal
 *
 */
.site-modal {
	.modal-content {
		border-radius: 0;
	  background-clip: border-box;
	  box-shadow: none;
	  border: none;
	  min-height: 100%;
	  padding: 100px 0;
	  text-align: center;

		h2 {
			margin: 0;
		  font-size: 3em;
		}

    img {
			margin-bottom: 30px;
		}

    item-details {
		  margin: 30px 0;
		}

    .modal-body {
      .list-inline {
        margin-top: 40px;
      }
    }

	}

	.close-modal {
	  position: fixed;
	  width: 75px;
	  height: 75px;
	  background-color: transparent;
	  top: 25px;
	  right: 25px;
	  cursor: pointer;

		&:hover {
			opacity: 0.3;
		}

		.lr {
			height: 75px;
		  width: 1px;
		  margin-left: 35px;
		  background-color: $theme-secondary;
		  transform: rotate(45deg);
		  z-index: 2000;
			.rl {
				height: 75px;
			  width: 1px;
			  background-color: $theme-secondary;
			  transform: rotate(90deg);
			  z-index: 2000;
			}
		}

	}

	.modal-backdrop {
	  opacity: 0;
	  display: none;
	}
}

/**
 * Noscript
 *
 */
noscript {
  color: #cc3300;
  span.contactEmail {
    color: #cc3300;
  }
}
#noscript-msg {
  display: block;
  position: fixed;
  z-index: 2000;
  width: 100%;
  top: 100px;
  color: white;
  padding: 20px 0;
  background: #cc3300;
  a {
    color: white;
    text-decoration: underline;
    &:hover {
      color: white;
      text-decoration: none;
    }
  }
}
