/**
 * Colors
 */
$theme-primary:         #0091EA;
$theme-secondary:       #403F4C;
$theme-secondary-dark:  darken($theme-secondary,10%);
$caption:               rgba($theme-secondary,0.7);
$error:                 #F44336;
$success:               #008000;
$warning:               #ffa500;
$footer:                #282A30;

/**
 * Different shades of gray
 *
 */
$black:              #000;
$gray-darker:        lighten($black, 13.5%);
$gray-dark:          lighten($black, 20%);
$gray:               lighten($black, 33.5%);
$gray-light:         lighten($black, 46.7%);
$gray-lighter:       lighten($black, 93.5%);
$black-transparent:  rgba($black,0.4);

/**
 * Fonts
 *
 */
@font-face {
  font-family: QuicksandLight;
  src: url("../fonts/Quicksand-Light.otf") format("opentype");
}
@font-face {
  font-family: Quicksand;
  src: url("../fonts/Quicksand-Regular.otf") format("opentype");
}
@font-face {
  font-family: Raleway;
  src: url("../fonts/Raleway-Regular.ttf") format("truetype");
}

$family-headings-light: "QuicksandLight", "Helvetica Neue", Helvetica, Arial, sans-serif;
$family-headings: "Quicksand", "Helvetica Neue", Helvetica, Arial, sans-serif;
$family-paragraph: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
